<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row align-items-center justify-content-center>
      <ion-col size="5" size-sm="4" size-md="2" offset-sm="2" offset-md="4">Row 1 Col 1</ion-col>
      <ion-col size="1" size-sm="4" size-md="3">
        <ion-card>
          <ion-card-content>
            <h1>The column</h1>
            <p>Row 1 Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Row 2 Col 1</ion-col>
      <ion-col>Row 2 Col 2</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
