// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0b2657;
  --ion-color-primary-rgb: 11, 38, 87;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a214d;
  --ion-color-primary-tint: #233c68;

  --ion-color-secondary: #ffc512;
  --ion-color-secondary-rgb: 255, 197, 18;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0ad10;
  --ion-color-secondary-tint: #ffcb2a;

  --ion-color-tertiary: #f62a2a;
  --ion-color-tertiary-rgb: 246, 42, 42;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d82525;
  --ion-color-tertiary-tint: #f73f3f;

  --ion-color-success: #078c06;
  --ion-color-success-rgb: 7, 140, 6;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #067b05;
  --ion-color-success-tint: #20981f;

  --ion-color-warning: #ffd000;
  --ion-color-warning-rgb: 255, 208, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b700;
  --ion-color-warning-tint: #ffd51a;

  --ion-color-danger: #7e0f0f;
  --ion-color-danger-rgb: 126, 15, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #6f0d0d;
  --ion-color-danger-tint: #8b2727;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}

// ion-button {
//   --box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
// }