<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', place.id]" detail="false">
  <ion-thumbnail slot="start">
    <ion-img [src]="place.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ place.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ getDummyDate() | date }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" color="primary" class="space-left"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ getDummyDate() | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>